@charset "utf-8";
/* base */
*{margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {vertical-align: top;}
body {background-color: #fff; color: #333;}
/* style */
#wrap {width: 100%;}
header {
    width: 1340px; 
    height: 100px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
}
header .logo a {display: block; padding: 30px 0;}
header nav .gnb {display: flex; margin: 70px 0 0; position: relative; z-index: 99;}
header nav .gnb > li > a {
    display: block;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid #0057e7;
    font-weight: 600;
}
header nav .gnb > li:hover > a {background-color: #a1d2ff;}
header nav .gnb > li .sub {background-color: #dfecff;}
header nav .gnb > li .sub li a {
    display: block;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
header nav .gnb > li .sub li:hover a {background-color: #a1d2ff;}
#slide {width: 100%; height: 350px; position: relative;}
#slide .slidebox > a {position: absolute; left: 0; top: 0;}
#contents {width: 1340px; height: 610px; margin: -100px auto 0 auto;}
#contents .link {
    width: 100%; 
    height: 100px; 
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    background-color: #dfecff;
}
#contents .banner {
    display: block;
    width: 100%; 
    height: 160px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 100px;
}
#contents .banner .txt {width: 850px;}
#contents .banner .txt h2 {margin: 0 0 10px;}
#contents .tab {width: 100%; height: 350px; padding: 20px 0 0; display: flex; position: relative;}
#contents .tab > div h2 {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #a1d2ff;
    cursor: pointer;
}
#contents .tab > div.on h2 {background-color: #0057e7; color: #efefef;}
#contents .tab > div ul {
    width: 570px;
    height: 280px;
    background-color: #f2f7ff;
    border: 1px solid #0057e7;
    padding: 20px;
    position: absolute;
    left: 0;
}
#contents .tab > div.on ul {z-index: 99;}
#contents .tab .notice ul li a {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}
#contents .tab .notice ul li:last-child a {border-bottom: none;}
#contents .tab .notice ul li:hover a {background-color: #a1d2ff;}
#contents .tab .gallery ul {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 40px;
}
footer {width: 1340px; height: 120px; margin: 0 auto; display: flex; align-items: center;}
footer .fcont {padding: 0 0 0 20px;}
footer .fcont .fmenu {height: 60px; display: flex; align-items: center;}
footer .fcont .fmenu li {height: 14px; line-height: 14px; margin: 0 10px 0 0; padding: 0 10px 0 0; border-right: 1px solid #333;}
footer .fcont .fmenu li:last-child {margin: 0; padding: 0; border: none;}
footer .fcont .fmenu li:hover a {color: #0057e7;}
footer .fcont p {height: 60px; line-height: 60px; font-size: 14px; color: #aaa;}
#pop {
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#pop h2 {padding: 15px; background-color: #dfecff;}
#pop p {padding: 15px;}
#pop button {
    background-color: #dfecff;
    width: 50px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
}